// Arquivo: _sass/custom/custom.scss

// Cor do fundo do site
body {
  background-color: #f9f9f9;
}

// Fundo da barra lateral
.side-bar {
  background-color: #ffffff;
}

// Cor dos links e do texto da navegação lateral
.nav-list-link, a, a:hover, .nav-list-expander {
  color: #0076F1; // Azul da CNBB
}

// Cor do texto do menu quando selecionado (se precisar de um hover diferente)
.nav-list-item.active > .nav-list-link {
    color: #00458B; // Um tom de azul mais escuro para o estado ativo
}

// Cor do texto principal do site para garantir contraste
.main-content {
  color: #333333;
}
