SCSS

// Adicione suas variáveis de cor personalizadas aqui.
// Você pode encontrar todas as variáveis disponíveis na documentação do Just the Docs.

// Cores de fundo
$body-bg: #ffffff;
$sidebar-bg: #f8f8f8;

// Cores do texto
$body-text-color: #212529;
$sidebar-nav-link-color: #495057;

// Cores de destaque
$link-color: #007bff;
$link-hover-color: #0056b3;
$btn-primary-color: #007bff;
